*{
    margin: 0;
    padding: 0;
}


.navbar{
    background-color: rgba(69, 48, 42, 0.548);
    position: sticky;
    top: 0%;
    z-index: 22;
}
.navbar-nav .nav-link{
    color: #fff !important; 
}
.navbar-nav .nav-link:hover{
    color: #000!important; 
}

.navbar-nav li{
    margin: 0 1rem;
}
.navbar-brand{
    font-weight: 800;
}


/* ---------------------------------Section-1 styling-------------------------------- */

section{
    background-image: url("./img/image_section_1.jpg");
    background-size: cover;
    height: 90vh;
    position: relative;
    /* top: -5rem; */
    
}

section .header-content{
    position: absolute;
    top: 25%;
    width: 50%;
    color: #fff;
}

section h4{
    font-weight:300;
    
}


.header-content button{
    border-radius: 20px;
}

/* ------------------------------------Section-2------------------------------ */
.section-2{
    background-image: url("https://images.unsplash.com/photo-1505826759037-406b40feb4cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZmFzdCUyMGZvb2QlMjByZXN0YXVyYW50fGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-size: cover;
    position: relative;
    /* top: -5rem; */
    height: 90vh;
}
.section-2 .heading h1{
    position: absolute;
    top: 2%;
    left: 35%;
    transform: translate(50%,50%);
    color: rgb(196, 101, 38);

}
.section-2 .heading h5{
    color: rgb(196, 101, 38);
    padding-top: 6rem;
}

.section-2 .chefs .image{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}

.section-2 .chefs img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.section-2 .chefs{
    margin-top: 5rem;
}


.section-2 .chefs h2{
    margin-top: 1rem;
    color: rgb(196, 101, 38);
    
}
.section-2 .chefs h5{
    color: rgb(196, 101, 38);
    
}



/* ------------------------------------Section-3------------------------------ */

.section-3{
    background: rgb(172, 62, 62);
    width: 100%;
    height: 75vh;
    position: relative;
    /* top: -5rem; */
    
}
.section-3-img,.section-3-content{
    width: 50%;
}
.section-3-img{
    height: auto;
    padding-top: 1.5rem;
}
.section-3-img img{
    width: 85%;
    height: 100%;
    border-radius: 50%;
}

.section-3-content h1, p{
    color: #fff!important;
}
.section-3 p{
    padding: 1rem 0;
}

.section-3 .btn{
   
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    border-bottom-left-radius:25px;
    background-color: #fff;
    color: rgb(196, 101, 38);
    width: 15rem;


}

/* ------------------------------------- Section-4 ---------------------------------------------- */
.section-4{
    background-color: rgb(223, 213, 213);
}
.section-4 .row{
    flex-direction: row-reverse;
}

.section-4 .btn{
    background-color: rgb(172, 62, 62);
    color: #fff;
}
.section-3-content .s4 p,h1{
    color: rgb(172, 62, 62)!important;
}

/* ---------------------------------------------- Section-5 ----------------------------------------------- */

.section-5{
    background-color: rgb(172, 62, 62);
    height: 70vh;
    position: relative;
    /* top: -5rem; */
}

.section-5 .row div{
    width: 25%;
    height: auto;
    border: 0.11rem solid #fff;
    border-radius: 100%;
}

.section-5 .heading h1,p{
    color: #fff!important;
}



.section-5 .row h1,h5{
    text-align: center;
    color: #fff!important;
    
}
.section-5 .row h1{
    padding-top: 2rem;
}
.section-5 .row h5{
    padding-bottom: 2rem;
}


/* ----------------------------------------------------Section-6----------------------------------------- */

.section-6{
    background-color: rgb(172, 62, 62);
    height: 70vh;
    position: relative;
    /* top: -6.9rem; */
}

.section-6 h3{
    color: #fff!important;
}


/* ---------------------------------------------- Section-7 ------------------------------------ */

.section-7{
    background-color: rgb(223, 213, 213);
    height: 80vh;
    position: relative;
    /* top: -3rem; */
}

.section-7 p{
    color: rgb(172, 62, 62)!important;
}
.section-7 .input-group-append .btn{
    background-color: rgb(172, 62, 62);
    color: #fff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* --------------------------------------------- Section-8 -------------------------------------- */
.section-8{
    background-color: rgb(230, 116, 50);
    height: 90vh;
    
}

.card{
    position: relative;
    /* margin-bottom: 20rem; */
    
}

.card-body .btn{
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    border-bottom-left-radius:25px;
    background-color: rgb(196, 101, 38);
    color: #fff;
    width: 10rem;
    margin: 0 3rem;

}

.card-body h5,p{
    color: rgb(196, 101, 38)!important;
    
}

.section-8-img{
    width: 10rem;
    height: auto;
    margin: 0 auto;
}
.section-8-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


/* ------------------------------------ FOOTER --------------------------------------- */

footer{
    background-color: rgb(44, 42, 42);
    height: 80vh;
    /* position: sticky;
    top: 9rem; */
    color: #fff!important;

}
.sp{
    justify-content: center!important;
}

footer .row div{
    width: 20%;
}


